@model Wuzlstats.ViewModels.Player.AvatarViewModel
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">

        <div class="alert alert-info">
            Your avatar image is your face to the entire world of wuzln. Make sure you look super extra sexy, because everybody is going to see it.
        </div>

        <form enctype="multipart/form-data" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="avatar" class="col-sm-3 control-label">
                    Select a file:
                </label>
                <div class="col-sm-9">
                    <input type="file" id="avatar" name="avatar" class="form-control">
                    <div class="help-block">Make sure your avatar is a square image. It will be resized to 150x150 pixels.</div>
                </div>
            </div>

            <a href="@Url.Action("Index", new { id = Model.Id })" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-primary">Update avatar</button>
        </form>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <img src="data:image/png;base64,@Model.Image" class="player-image" alt="Avatar for @Model.Name" />
    </div>
</div>




