@{
    ViewBag.Title = "Error";
}

<h1>:-(</h1>
<p>
    An error occurred while processing your request.
</p>
<p>
    This should not have happened and it's not your fault, but totally the fault of Wuzlstats. It feels very bad already.
</p>
<p>
    Please try again in a few minutes. If this error continues to happen, please consider <a href="https://github.com/saxx/wuzlstats/issues">reporting it</a>, 
    so that somebody can take her or his keyboard and fix it.
</p>
