body {
  padding-bottom: 20px;
  padding-top: 20px; }

header .pull-right {
  padding: 15px 0 15px 0; }

span.team-blue {
  background-color: #ddf;
  padding: 1px 3px;
  border-radius: 3px; }

span.team-red {
  background-color: #fdd;
  padding: 1px 3px;
  border-radius: 3px; }

.navbar-header::after {
  clear: none; }

.well h3 {
  padding: 0;
  margin: 0; }

.row + .score-box {
  margin-top: 1.5em; }
  @media (min-width: 768px) {
    .row + .score-box {
      margin-top: 3em; } }

.score-box + .row {
  margin-top: 1.5em; }
  @media (min-width: 768px) {
    .score-box + .row {
      margin-top: 3em; } }

.score-box .form-control.team-blue {
  background-color: #ddf; }

.score-box .form-control.team-red {
  background-color: #fdd; }

.score-box .form-control.player:nth-of-type(2) {
  margin-top: 0.5em; }

.score-box .score {
  padding: 6px 0;
  text-align: center;
  width: 30px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .score-box .score {
      font-size: 1.5em;
      line-height: 2em;
      width: 55px; } }
  .score-box .score:nth-of-type(1) {
    float: left; }
  .score-box .score:nth-of-type(2) {
    float: right; }

.score-box div:nth-child(2) {
  text-align: center;
  padding: 0;
  line-height: 2em;
  font-weight: bold; }
  @media (min-width: 768px) {
    .score-box div:nth-child(2) span {
      font-size: 1.5em; } }

.score-box.team-score-box div:nth-child(2) {
  padding-top: 1em; }

.progress {
  height: 1em; }
  .progress .progress-bar {
    background-color: #c3c3c3; }

.ranking {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .ranking li {
    margin: 0;
    padding: 0;
    height: 50px; }
  .ranking a {
    border: 0; }
    .ranking a:nth-of-type(2) {
      float: right; }
  .ranking .ranking-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #999; }
  .ranking .ranking-name {
    font-weight: bold;
    position: relative;
    top: -38px;
    margin-left: 50px;
    margin-right: 50px; }
    .ranking .ranking-name:nth-of-type(2) {
      top: -58px;
      text-align: right; }
  .ranking .ranking-score {
    position: relative;
    top: -40px;
    margin-left: 50px;
    margin-right: 50px;
    color: #999; }
  .ranking.team-ranking .ranking-score {
    text-align: center;
    top: -60px; }
  .ranking .ranking-wins {
    padding-right: 10px; }
    .ranking .ranking-wins .glyphicon {
      padding-left: 5px; }
  .ranking .ranking-losses .glyphicon {
    padding-left: 5px; }

.player-image {
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 50%;
  border: 2px solid #999; }

footer {
  margin-top: 100px; }
